.projects-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container {
  width: 100vw;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  width: 90vw;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.video1-position {
  grid-column: 1;
  grid-row: 1;
}
.video2-position {
  grid-column: 2;
  grid-row: 1;
}
iframe {
  height: 100%;
  width: 100%;
  padding: 5px;
}
