.svg-sizing {
  height: auto;
  width: 100px;
}
.svg-sizing:hover {
  height: 150px;
  width: 150px;
  transition: 250ms;
}
.grid-container {
  height: 80vh;
  width: 100vw;
  display: flex;
}
.find-me-container {
  /* height: 200px; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  text-align: center;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.email-styling {
  text-align: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  grid-column: 5 / 7;
  grid-row: 2;
  grid-auto-flow: inherit;
}
.github-position-in-grid {
  grid-column: 5;
  grid-row: 3;
}
.linkedin-position-in-grid {
  grid-column: 6;
  grid-row: 3;
}
.twitter-position-in-grid {
  grid-column: 5;
  grid-row: 5;
}
.instagram-position-in-grid {
  grid-column: 6;
  grid-row: 5;
}
.me-position {
  grid-column: 3/6;
  grid-row: 1/4;
}
.me-size {
  width: 70%;
  height: auto;
}
