.about-me-container {
  /* height: 200px; */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.grid {
  display: grid;
  text-align: center;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.hobbies-text-styling {
  grid-column: 2;
  grid-row: 1;
  padding: 5px;
}
.games-list {
  position: relative;
}
.grid-icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  grid-column: 3;
  grid-row: 1;
}
.icon-wrapper {
  width: 15px;
  height: 10px;
}
svg-sizing {
  height: 60px;
}
.clip1-styling {
  grid-column: 2;
  grid-row: 2;
  padding: 5px;
}
.clip2-styling {
  grid-column: 3;
  grid-row: 2;
  padding: 5px;
}
.clip3-styling {
  grid-column: 2;
  grid-row: 3;
  padding: 5px;
}
.clip4-styling {
  grid-column: 3;
  grid-row: 3;
  padding: 5px;
}
iframe {
  height: 100%;
  width: 100%;
}
ol {
  display: block;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: 100px;
  width: 80%;
}
li:first-child {
  font-weight: bold;
}
img:hover {
  height: 75px;
}
.end-block {
  width: 100vw;
  height: 100px;
}
@media (min-width: 641px) {
  img:hover {
    height: 75px;
  }
}
.click-here {
  display: none;
}
@media (max-width: 640px) {
  .click-here {
    display: block;
    margin-top: 25px;
    font-size: 0.9rem;
    grid-column: 2;
    grid-row: 2;
  }
  .clip3-styling {
    display: none;
  }
  .clip4-styling {
    display: none;
  }
  .clip1-styling {
    grid-row: 4;
    margin-left: 35px;
  }
  .clip2-styling {
    grid-column: 2;
    grid-row: 5;
    margin-left: 35px;
  }
  iframe {
    width: 20rem;
    height: auto;
  }
  .end-block {
    width: 100vw;
    height: 50px;
  }
  .grid-container {
    height: auto;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .grid-icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    grid-column: 2;
    grid-row: 3;
    padding: 5px;
  }
}
